@import 'normalize'
@import 'nib'


@font-face {
    font-family: 'paulistana_deconormal';
    src: url('/font/paulistana_deco-webfont.eot');
    src: url('/font/paulistana_deco-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/paulistana_deco-webfont.woff2') format('woff2'),
    url('/font/paulistana_deco-webfont.woff') format('woff'),
    url('/font/paulistana_deco-webfont.ttf') format('truetype'),
    url('/font/paulistana_deco-webfont.svg#paulistana_deconormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body,#wrapper
    height 100%
body
    background black
    font-size 16px

header
    background-image  url(/images/bg_lineas_amarillas_header.png)
    background-repeat no-repeat
    background-position center top
    text-align right
    .social
        display inline-block
        margin-top 2em
        text-align right
        vertical-align top
        width 28%
        li
            display inline-block
            margin-left 2px
            a
                background-image  url(/images/header_social.png)
                background-repeat no-repeat
                display block
                font-size 0
                height 54px
                width 54px


    .titulo
        display inline-block
        width 50%

footer
    background-image  url(/images/bg_lineas_amarillas_footer.png)
    background-repeat no-repeat
    background-position center top
    height 190px
    color #ffffff
    font-family 'Play', sans-serif
    p
        text-align center
        padding-top 10em

#izq
    background url("/images/bg_noticias_right.png") no-repeat 170px 0px, url("/images/bg_noticias.png") repeat-x
    background-color #272727
    display inline-block
    height 100%
    width 200px


#der
    background url("/images/bg_principal.png")
    float right
    height 100%
    width 85%

.logo_principal

.contenido
    margin 0.5em

.anuncio-home
    background-image url("/images/bg_anuncio.png")
    background-repeat no-repeat
    height 150px
    width 845px
    padding 1em
    color #ffffff
    font-size 1.5em
    h2
        margin-top 0.2em

.menu-principal
    background-image url("/images/bg_menu.png")
    background-repeat no-repeat
    height 117px
    text-align right
    ul
        list-style none
    li
        display inline-block
        margin 45px 20px 0 0

    a
        font-family  'Play', sans-serif
        font-size 20px
        font-weight: bold;
        color white
        text-shadow 0 0 2px black
        text-decoration none
        &:hover
            border-bottom solid 2px #ffffff

.chat,.player
    display inline-block
    vertical-align top

.chat
    width 400px
    height 500px
    background-image url("/images/bg_chat.png")
    background-repeat no-repeat


.player
    width 500px
    height 500px

/* Iconos Sprites */
.social-twitter
    background-position 0 0
.social-facebook
    background-position -55px 0
.social-youtube
    background-position -109px 0
.wrapper
    width 100%
    height 100%





.noticia
    h2
        background #FCC105
        color white
        display blocks
        font-family 'paulistana_deconormal'
        font-size 2em
        padding 0.5em

    .noticia-contenido
        background rgba(200,200,200,0.3)
        display inline-block
        margin 1em 2em
        p
            display inline-block
            margin 1em 0 0 0
            vertical-align top
            width 70%
        picture
            width 25%
            display inline-block



